@import url('https://fonts.googleapis.com/css?family=Jua');
body{
    margin: 0;
    
}
.container{
    max-width: 1170px;
    margin:auto;
}
header{
    position: relative;
}
.menu{
    position: absolute;
    top: 10px;
    left: 0;
    width:100%;
    z-index: 5;
}
#burger-menu{
    display: none;
}
.menu-active{
   opacity: 1; 
}
nav{
    opacity: 0;
    transition: 0.5s;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    
}
nav ul li {
    display:inline-block;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding-right: 47px;
    text-decoration: none;
    font-family: 'Jua', sans-serif;
}
#home{
   max-width: 1980px;
   margin:auto;
   position: relative;
}
.bg{
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.main-bg{
    grid-column: 2/3;
}
.main-bg img{
    width: 100%;
    height: 750px;
}
.home-content{
    display:grid;
    grid-template-columns:1fr 1fr;
    padding-bottom: 200px;
    
}
.title{
    text-align: center;
}
.title h3{
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Jua', sans-serif;
}
.title form label input{
    border: none;
    border-bottom: 2px solid #5ED9C6;
    outline:none;
    background: transparent;
}
.title form input[type="submit"]{
    outline: none;
    color: #fff;
    padding: 10px 50px;
    background: #FF606A;
    border: none;
    text-decoration: none;
    font-family: 'Jua', sans-serif;
    text-transform: uppercase;
}
.home-content article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 150px;
}
.home-content article form{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.home-content article form label{
    padding: 20px 0;
}
.home-content aside{
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
}
.home-content aside img{
    width: 100%;
}
#requirement{
    max-height: 1170px;
    position: relative;
    overflow: hidden;
    max-width: 1980px;
    margin: auto;
    height: 980px;
}
.requirement-bg{
    display: grid;
    grid-template-columns: 7fr 202px 0.5fr;
    position: absolute;
    z-index: -1;
}
.requirement-bg-right{
    grid-column: 3/4;
    align-self: end;
}
.requirement-bg-right img{
    width: 158%;
   
}
.requirement-bg-left img{
width: 100%;
    height: 980px;
}
.req-content h3{
    padding: 10px;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Jua', sans-serif;
    text-align: right;
}
.blocks{
    margin-top: -70px;
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 0.3fr;
}
.block-1{
    grid-row: 1/2;
    grid-column: 1/2;
}
.block-2{
    grid-column: 2/3;
    grid-row: 1/3;
}
.block-3{
    grid-column: 1/2;
    grid-row: 2/3;
}
.block-1, .block-2, .block-3{
    background: #fff;
    padding: 60px 30px;
    border-radius: 20px;
    max-width: 320px;
    margin: 20px 20px 70px 20px;
    box-shadow: -1px 0px 20px 0px black;
}

#offer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}
#offer h3{
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Jua', sans-serif;
    grid-column: 1/4;
    margin-bottom: 80px;
}
#offer>div{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
#offer>div>p{
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Jua', sans-serif;
}
#offer>div>img{
    
}
#contact{
    position: relative;
    max-width: 1980px;
    margin: auto;
    height: 530px;
}
.contact-bg{
    width: 100%;
    top: 0;
    position: absolute;
    left: 0;
    z-index: -1;
}
.contact-bg img{
    width: 100%;
    height: 530px;
}
.contact-inner{
    padding-top: 120px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
.contact-inner h2{
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Jua', sans-serif;
    text-align: center;
    grid-column: 1/3;
    color: #fff;
}
.contact-inner article{
    margin-bottom: 44px;
}
.contact-inner article h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Jua', sans-serif;
    color: #fff;
    font-weight: 300;
}
.contact-inner article form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-inner article form label{
    padding: 20px 0;
    margin-bottom: 14px;
}
.contact-inner article form input[type="submit"] {
    outline: none;
    color: #fff;
    padding: 10px 50px;
    background: #FF606A;
    border: none;
    text-decoration: none;
    font-family: 'Jua', sans-serif;
    text-transform: uppercase;
}
.contact-inner article form label input{
    width: 242px;
    border: none;
    background: transparent;
    border-bottom: 2px solid #5ED9C6;
    outline: none;
}
.contact-inner aside{
    margin: 0 120px 44px 0;
}
.contact-inner aside h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Jua', sans-serif;
    color: #fff;
}
.contact-inner aside h4:first-of-type{
    margin-top: 33px;
}
.contact-inner aside h4{
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Jua', sans-serif;
    color: #fff;
}
.social-link{
    display: flex;
    margin-top: 44px;
    justify-content: center;
}
.social-link img:nth-of-type(2){
    padding: 0 20px;
}
#map{
    max-width: 1980px;
    margin: auto;
}
#map iframe{
    width: 100%;
    height:450px;
}
footer{
    margin-top: -5px;
    display: flex;
    height: 74px;
    max-width: 1980px;
    margin: auto;
    background: url(../img/bg/footer.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Jua', sans-serif;
    text-transform: uppercase;
}